
Experiments in ipython notebooks/npgamma/test/Module usage 3D _ RC.ipynb

Experiments in ipython notebooks/npgamma/test/Module usage 2D _ RC.ipynb

Experiments in ipython notebooks/npgamma/test/.ipynb_checkpoints/Module usage 2D _ RC-checkpoint.ipynb

Experiments in ipython notebooks/npgamma/test/Module usage 2D _ RC.ipynb
